<div class="flex flex-col sm:flex-row w-full gap-4 my-4">
    <div class="flex-auto flex-grow [&>*:first-child]:mt-0 [&>*:last-child]:sm:mb-0">
        {{ body | markdown(inline=false) | safe }}
    </div>
    <aside class="flex-none sm:w-5/12">
        <figure class="my-0">
            {% if path is not ending_with(".gif") %}
            {# optimize non-gif images #}
            {% set path = (resize_image(path=path, width=800, op="fit_width")) | get(key="url") %}
            {% endif %}
            <img src="{{path}}" alt="{{caption}}" draggable="false" />
            {% if caption %}
            <figcaption class="text-center mt-2 italic">{{ caption }}</figcaption>
            {% endif %}
        </figure>
    </aside>
</div>