{% import "macros.html" as macros %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  {% block meta_content %}
  <title>Home - Trevor Nelson</title>
  {% endblock meta_content %}

  <link rel="stylesheet" href="{{ get_url(path='main.css') | safe }}" />
  <link rel="stylesheet" href="https://www.nerdfonts.com/assets/css/webfont.css" />
</head>

<body class="bg-gray-50 dark:bg-gray-800 text-gray-700 dark:text-gray-300">
  {% include "nav.html" %}
  <main class="px-4">
    <div class="container mx-auto mt-16 sm:mt-32">
      {% block content %} {% endblock %}
    </div>
    <footer class="my-12 text-center">
      <p class="text-gray-700 dark:text-gray-300 opacity-50 select-none mb-12 inline-block px-2"
        title="&copy; {{ now() | date(format='%Y') }} Trevor Nelson">𝕥</p>
      <div class="w-fit m-auto select-none">
        {{ macros::socialicon(url="https://github.com/trevnels/", icon="nf-md-github", label="GitHub") }}
        {{ macros::socialicon(url="https://www.linkedin.com/in/trevor-nelson-a730411a0/", icon="nf-md-linkedin",
        label="LinkedIn") }}
        {{ macros::socialicon(url="https://fosstodon.org/@trevnels", icon="nf-md-mastodon", label="Mastodon") }}
      </div>
    </footer>

  </main>

</body>

</html>