{% extends "base.html" %}
{% import "macros.html" as macros %}

{% block content %}
<div class="prose prose-gray dark:prose-invert prose-lg mx-auto max-w-prose">
    <h1 class="text-center">{{ section.title }}</h1>
    {{ section.content | safe }}

    {% set proj_section = get_section(path="projects/_index.md") %}
    <h2 class="mb-0">Featured Projects</h2>
    <p>See the full list <a href="/projects">here</a>.</p>

    {{ macros::pagelist(posts=proj_section.pages | filter(attribute="extra.featured", value=true), title="") }}

</div>

{% endblock content %}