{% macro pagelist(posts, title="") %}
<div>
    <h3 class="text-center">{{ title }}</h3>
    {% if posts | length == 0 %}
    <p class="text-center">No posts yet.</p>
    {% endif %}
    {% for post in posts %}
    {{ macros::post(post=post) }}
    <hr class="not-prose mb-8 border-slate-200 dark:border-slate-700 sm:hidden">
    {% endfor %}
</div>
{% endmacro pagelist %}

{% macro post(post) %}
<a href="{{ post.permalink }}" draggable="false"
    class="not-prose no-underline mb-4 block rounded-md active:scale-95 select-none transition-transform group">
    <article class="flex flex-col sm:flex-row-reverse h-full sm:gap-8">
        <div class="flex-none sm:flex-auto sm:basis-1 h-32 sm:h-auto sm:aspect-video rounded-md shadow-md relative" {%
            if post.extra.thumbnail_color %}style="background-color: {{post.extra.thumbnail_color}}" {% endif %}>
            {% if post.extra.thumbnail %}
            {% set img = resize_image(path=post.extra.thumbnail, width=800, height=640, op="fit") %}
            <img src="{{img.url}}" alt="{{post.title}}" class="w-full h-full object-cover" draggable="false" />
            {% elif post.extra.thumbnail_icon %}
            <i
                class="nf {{post.extra.thumbnail_icon}} text-5xl absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 text-white"></i>
            {% endif %}
        </div>

        <div class="flex-auto basis-1 grow">
            <h3 class="text-2xl font-bold mt-2">{{ post.title }}<i
                    class="nf nf-md-arrow_right text-xs align-middle opacity-50 ms-2 group-hover:translate-x-1 transition-transform inline-block"></i>
            </h3>
            {% if post.taxonomies is containing('tags') %}
            <div class="tags-area">
                {% for tag in post.taxonomies['tags'] %}
                <div class="inline-block text-sm bg-slate-600 text-white py-0 px-2 leading-normal select-none">
                    {{ tag }}</div>
                {% endfor %}
            </div>
            {% endif %}
            <p class="leading-tight mt-2 mb-4">{{ post.description | safe }}</p>


        </div>

    </article>
</a>
{% endmacro post %}