<nav class="text-center m-auto mt-6 select-none">
    <a href="/" class="{% if current_path == '/' %}active{% endif %}"><span>Home</span></a>
    <a href="/about" class="{% if current_path == '/about/' %}active{% endif %}"><span>About</span></a>
    <a href="/projects" class="{% if current_path == '/projects/' %}active{% endif %}"><span>Projects</span></a>
    <a href="/resume" class="{% if current_path == '/resume/' %}active{% endif %}"><span>Résumé</span></a>
    <a href="/"><i class="nf nf-md-github align-baseline"></i></a>
    <a href="/"><i class="nf nf-md-linkedin align-baseline"></i></a>
</nav>