{% extends "base.html" %}
{# {% import "macros.html" as macros %} #}
{% block meta_content %}
<title>{{page.title}} &ndash; Trevor Nelson</title>
{% endblock meta_content %}

{% block content %}
<div class="prose prose-quoteless prose-gray prose-lg dark:prose-invert mx-auto max-w-prose">

  <h1 class="text-center mb-0">
    {{ page.title }}
  </h1>

  <p class="text-center mt-0">
    {% if page.date %}{{ page.date | date(format="%B %Y") }}{% endif %}
  </p>

  <p class="text-center mb-2 leading-tight italic">
    {{ page.description | safe }}
  </p>

  <div class="select-none flex flex-wrap justify-center gap-1 group">
    {% if page.taxonomies is containing('tags') %}
    {% for tag in page.taxonomies['tags'] %}
    <div class="inline-block bg-gray-600 rounded text-white py-0 px-2 leading-normal select-none">
      {{ tag }}</div>

    {% endfor %}
    {% endif %}
  </div>

  {{ page.content | safe }}
</div>
{% endblock content %}